<h1>Inicio</h1>

<table style="width:500px">
  <thead>
  <tr>
    <th>Titulo</th>
    <th style="text-align:right;">Contenido</th>
      <th style="text-align:right;">Usuario</th>
    <th style="text-align:right;">Imagen</th>
  </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
      <tr>
        <td><%= post.titulo %></td>
        <td style="text-align:right;"><%= post.contenido %></td>
        <td style="text-align:right;"><%= post.user.nickname %></td>
        <td style="text-align:right;"><%= image_tag(post.imagen,  size: "100x100", alt: post.titulo) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @posts %>


