<h1 class="text-center">Inicio</h1>
<% @posts.each do |post| %>
<br>
<h3><%= post.titulo %></h4>
<h5>Por <%= post.user.nickname %></h5>
<div class="row">
  <div class="col-md-4"><%= image_tag(post.imagen,  size: "250x250", alt: post.titulo, class: "img-circle") %></div>
   <div class="col-md-8"><%= post.contenido %></div>

</div>
  <% end %>
<!-- <table style="width:500px">
  <thead>
  <tr>
    <th>Titulo</th>
    <th style="text-align:right;">Contenido</th>
      <th style="text-align:right;">Usuario</th>
    <th style="text-align:right;">Imagen</th>
  </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
      <tr>
        <td><%= post.titulo %></td>
        <td style="text-align:right;"><%= post.contenido %></td>
        <td style="text-align:right;"><%= post.user.nickname %></td>
        <td style="text-align:right;"><%= image_tag(post.imagen,  size: "100x100", alt: post.titulo) %></td>
      </tr>
  <% end %>
  </tbody>
</table> -->
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>



