<p id="notice"><%= notice %></p>

<h1>Mis posts</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Contenido</th>
      <th>Imagen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.titulo %></td>
        <td><%= post.contenido %></td>
        <td><%= post.imagen %></td>
        <td><%= link_to 'Ver', post %></td>
        <td><%= link_to 'Editar', edit_post_path(post) %></td>
        <td><%= link_to 'Elminiar', post, method: :delete, data: { confirm: 'Segurox?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo post', new_post_path %>
<%= link_to('Salir', destroy_user_session_path, :method => :delete) %> 
