<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @post.titulo %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @post.contenido %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= image_tag(@post.imagen,  size: "100x100", alt: @post.titulo) %>
</p>

<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Atrax', posts_path %>
