<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @post.titulo %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @post.contenido %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @post.imagen %>
</p>

<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Atrax', posts_path %>
